.A {
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/memphis-frame-vector-beige-paper-collage-blue-cute-abstract-background_53876-108787.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
 
}
.Ab{
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
}
.Ac {
  
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 40px;
}


@media (min-width: 650px ) {
    .A{
        background-position: center center;
        
    }
    .Ac{
        align-items: flex-end;
        justify-content:space-evenly;
    }
    .p{
        font-size: small;
    }
}