.A {
    width: 100%;
    height: auto;  
    background-image: url('https://img.freepik.com/free-vector/memphis-frame-vector-beige-paper-collage-blue-cute-abstract-background_53876-108787.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Ab {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.Ac {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}

.h{
    text-decoration: none;
    border: 3px solid yellow;
    color: transparent;
    padding: 20px 60px;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 0.5s;
    position: relative;
  }
  .h:before {
    content: "GET STARTED";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 20px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
  .h:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  .h:after {
    content: "GET STARTED";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 20px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
  .h:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }
  

@media (min-width: 650px) {
    .A {
        background-position: center center;

    }

    .Ac {
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .p {
        font-size: small;
    }
}